body{
    width: 500px;
    margin: auto;
    text-align: center;
}

li{
    list-style: none;
}

li.fields{
    margin: 0;
    padding: 1em 0;
}

li.title{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: palegoldenrod;
    border-bottom: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}

.hide{ display: none;}

